<div class="container">
  <div class="row">
    <div class="form-inline">
      <div class="form-group margin">
        <label for="name">Name:</label>
        <input
          type="text"
          #name
          id="name"
          class="form-control"
          placeholder="이름을 입력하세요"
        />

        <label for="role">Role:</label>
        <select #role name="role" class="form-control">
          <option value="Administrator">Administrator</option>
          <option value="Developer">Developer</option>
          <option value="Designer">Designer</option>
        </select>
        <button
          type="button"
          class="btn btn-default"
          (click)="addUser(name.value, role.value)"
        >
          AddUser
        </button>
      </div>
    </div>
  </div>

  <app-user-list [users]="users" (remove)="removeUser($event)"></app-user-list>

  <h1>counter</h1>
  <app-counter #counter></app-counter>
  <hr />
  <button type="button" (click)="toggle()">Toggle Child</button>
  <button type="button" (click)="changeText()">Change Child`s text</button>
  <app-child></app-child>
  <router-outlet></router-outlet>
</div>
