<div class="container">
  <div class="row">
    <div class="form-inline">
      <div class="form-group margin">
        <label for="name">Name:</label>
        <input
          type="text"
          #name
          id="name"
          class="form-control"
          placeholder="이름을 입력하세요"
        />

        <label for="role">Role:</label>
        <select #role name="role" class="form-control">
          <option value="Administrator">Administrator</option>
          <option value="Developer">Developer</option>
          <option value="Designer">Designer</option>
        </select>
        <button
          type="button"
          class="btn btn-default"
          (click)="addUser(name.value, role.value)"
        >
          AddUser
        </button>
      </div>
    </div>
  </div>

  <app-user-list [users]="users" (remove)="removeUser($event)"></app-user-list>

  <h1>counter</h1>
  <app-counter #counter></app-counter>
  <hr />
  <button type="button" (click)="toggle()">Toggle Child</button>
  <button type="button" (click)="changeText()">Change Child`s text</button>
  <app-child></app-child>

  <h3 appTextBule>Parent</h3>
  <button type="button" (click)="toggle2()">Toggle Child</button>
  <div *ngFor="let checkbox of checkboxs">
    <app-child2 [checkBox]="checkbox"></app-child2>
  </div>

  <app-single-content-projection>
    <strong>single slot</strong><i>content-projection</i>
  </app-single-content-projection>

  <h1>multi-content-projection</h1>

  <app-multi-content-projection>
    <header>header</header>
    <footer>footer content</footer>
    <section>section</section>
    <div class="my-class">my class div</div>
  </app-multi-content-projection>

  <h1 class="test">user list2</h1>
  <app-user-list2>
    <app-user #first>Lee</app-user>
    <app-user>Beak</app-user>
    <app-user>Kim</app-user>
  </app-user-list2>

  <p appTextcolor [color]="color">appTextColor</p>

  <h1>Directive Color</h1>

  <h4>텍스트의 컬러를 선택하세요</h4>
  <div>
    <input type="radio" name="colors" (click)="radioTextColor = 'red'" />Red
    <input type="radio" name="colors" (click)="radioTextColor = 'blue'" />Blue
    <input type="radio" name="colors" (click)="radioTextColor = 'green'" />Green
  </div>

  <p appTextColorCustom [textColor]="radioTextColor" defaultColor="violet">
    Text Color
  </p>

  <!-- {{ condition }}
  <h2 appMgNgIf [myNgIf]="condition">ddd</h2> -->
  <!-- <h2 appMgNgIf [myNgIf]="condition">Hello {{ name }}</h2> -->

  <!-- <h2 appMgNgIf *myNgIf="condition">Hello {{ name }}</h2> -->

  <button (click)="condition = !condition">Click</button>

  <router-outlet></router-outlet>
</div>
